html{
    background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/background-image.png');
    background-size: cover;
}

.fixed-background{
    margin: 0 auto;
    width: 1366px;
    height: 768px;
}

.container{
    margin-left: 155px;
    margin-right: 150px;
}

.header{
    padding-top: 50px;
}

.logo-link{
    color: white;
}

.title-logo-header{
    font-family: Courier;
    font-weight: bold;
    font-size: 29px;
}

.for-changing-bg{
    width: 46px;
    height: 44px;
    display: inline-block;
    background: url("../img/logo.png") no-repeat;
}

.title-logo-elements:hover .for-changing-bg{
    background: url("../img/logo-hover.png") no-repeat;
}

.title-logo-elements:hover{
    color: #f26522;
}

.title-logo-text{
    font-size: 18px;
    font-family: Courier;
}

.title-logo-elements{
    float: left;
}

.title-logo-header-text{
    display: inline-block;
}

.contacts{
    float: right;
    font-family: Courier;
    font-size: 18px;
}

.photo-first-row{
    margin-top: 50px;
}

.photo-first-row-elements{
    float: left;
    width: calc(100% / 3 - 45px);
    margin-right: 67px;
    position: relative;
}

.photo-elements-hover{
    height: 63px;
    width: 312px;
    background: #f26522;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: none;
    transition: bottom 2s ease;
}

.photo-elements-hover-from{
    color: white;
    font-family: Courier;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 15px;
}

.photo-elements-hover-price{
    color: white;
    font-family: Courier;
    font-size: 20px;
    margin-left: 20px;
    display: inline-block;
}

.photo-elements-hover-details{
    color: white;
    font-family: Courier;
    font-size: 14px;
    display: inline-block;
    float: right;
    margin-right: 40px;
    text-decoration: none;
}

.photo-elements-hover-details:after{
    content: '>';
 margin-left: 15px;
}


.photo-first-row-elements:hover .photo-elements-hover{
    overflow: visible;
    bottom: 40px;
    display: block;
}

.photo-first-row-elements-last{
    margin-right: 0;
}

.photo-first-row-elements-text{
    color: white;
    margin-top: 22px;
    text-align: center;
    font-family: Courier;
    font-size: 18px;
}

.footer{
    font-family: Courier;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-top: 60px;
}

.cleaar-fixes::after{
    content: "";
    display: block;
    clear: both;
}